In [1]:
#display message in python
print("Hello world")

Hello world

In [4]:
#input in python
name = input("Enter you name :")
print("My name is",name)

Enter you name :Riddhi
My name is Riddhi

In [8]:
#Datatypes in python

#String
str ="Hello world "
print(str)
print(str[1:4])
print(str.upper())
print(str+'everyone')
print(str[-3])
print(str*2)
print(str.lower())

Hello world
ell
HELLO WORLD
Hello world everyone
l
Hello world Hello world
hello world

In [9]:
#number

n1=12
n2=10
n3=1.1
print(type(n3))
print(n1)
print(n2)
print(n1+n2)

<class 'float'>
12
10
22

In [14]:
#tuples

tuple1=(11,22,33,44,55)
tuple2=("A","B","C","D")
print(tuple1[2])
print(tuple2[1])
print(tuple1[1:4])

33
B
(22, 33, 44)

In [21]:
#list

list1=[11,22,33,44,55]
list2=["A","B","C","D"]
list3=["ABC",20,"DEF","GHI"]
print("List of elements are :")
print(list3)

#append
list1.append(66)
print(list1)

#slice
print(list2[1:3])

#update
list3[1]= 10
print(list3)

#delete
del list1[3]
print (list1)
list2.remove("C")
print(list2)

List of elements are :
['ABC', 20, 'DEF', 'GHI']
[11, 22, 33, 44, 55, 66]
['B', 'C']
['ABC', 10, 'DEF', 'GHI']
[11, 22, 33, 55, 66]
['A', 'B', 'D']

In [26]:
#dictionary

dict1 = {1: "ABC", 2: "PQR",3:"XYZ"}
print(dict1)
print("All keys: ",dict1.keys())
print("All values: ",dict1.values())

dict1.pop(1)
print(dict1)

dict1[2]="see"
print(dict1)

del dict1[0]
print(dict1)

{1: 'ABC', 2: 'PQR', 3: 'XYZ'}
All keys:  dict_keys([1, 2, 3])
All values:  dict_values(['ABC', 'PQR', 'XYZ'])
{2: 'PQR', 3: 'XYZ'}
{2: 'see', 3: 'XYZ'}

KeyError: ignored

In [33]:
#set

set1= {11,22,33,44,55}
set2= {"hello",12,44,55,"world",(1,2,3,4)}
set3={13,45,66,778,98}

set1.discard(44)
print(set1)

set2.remove("hello")
print (set2)

set4= set1|set3
print(set4)

set5= set1-set3
print(set5)

set6= set2.intersection(set1)
print(set6)

{33, 11, 22, 55}
{'world', (1, 2, 3, 4), 12, 44, 55}
{33, 66, 98, 778, 11, 45, 13, 22, 55}
{33, 11, 22, 55}
{55}